body{
font-size:30px;
	

}


#table1{
font-size:14px;
color:blue;
font-family:arial rounded MT	
}


h3{
	color:blue;
	font-family:Adobe Gothic Std,arial;
	
}
#main{
	margin-left:480;
	margin-top:70;
	width:500px;
	height:250px;	

}
#header{
	height:100px;
	width:auto;
	background:#EEE8AA;
	
}



input[type=text], input[type=password]{
	
	border-radius:3px;	
}

input[type=button], input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	margin-left:230px;
}


